<% layout("./layouts/boilerplate") %>

    <body class="">
        <h2 class="mb-4">
            <%= listdata.title %>
        </h2>
        <img class="w-50 border border-2 border-secondary rounded mb-2" src="<%= listdata.image.url %>" alt="">
        <ul class="list-group mb-4">
            <li class="list-group-item fs-5 mb-1"><strong>Owned By:</strong>
                <%= listdata.owner.username %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Description:</strong>
                <%= listdata.description %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Price:</strong> &dollar; <%=
                    listdata.price.toLocaleString("en-US") %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Location:</strong>
                <%= listdata.location %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Country:</strong>
                <%= listdata.country %>
            </li>
        </ul>

        <% if(currUser && currUser._id.equals(listdata.owner._id)) { %>
            <div class="d-flex justify-content-start mb-4">
                <form method="get" action="/listings/<%= listdata._id %>/edit" class="mr-2">
                    <button class="btn btn-primary">Edit</button>
                </form>
                &NonBreakingSpace; &NonBreakingSpace;
                <form method="post" action="/listings/<%= listdata._id %>?_method=delete" class="ml-2">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        <% } %>

        <!-- <div id="map" style="width: 100%; height: 400px;"></div> -->
        
        <% if(currUser) { %>
        <div class="container mt-4 mb-4 p-4 border rounded shadow-sm">
            <h4 class="text-center mb-4">Leave a Review</h4>
            <form action="/listings/<%= listdata._id %>/reviews" method="post" class="needs-validation" novalidate>
                <!-- <div class="mb-3">
                    <label for="rating" class="form-label fw-bold">Rating :</label>
                    <input type="range" min="1" max="5" name="review[rating]" id="rating">
                </div> -->
                <fieldset class="starability-slot mt-3 mb-3">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <label for="comment" class="form-label fw-bold">Comment:</label>
                    <textarea name="review[comment]" id="comment" rows="5" cols="15" class="form-control"
                        placeholder="Write your review here..." required></textarea>
                    <div class="invalid-feedback">Please write some comments</div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <% } %>
            <hr>
            <h3 class="text-center my-4">All Reviews</h3>
            <div class="container">
                <div class="row">
                    <% for (review of listdata.reviews) { %>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100 shadow-sm border border-2">
                                <div class="card-body text-start">
                                    <p class="card-text fs-4">
                                        <strong>@</strong>
                                        <%= review.author.username %>
                                    </p>
                                    <p class="card-text fs-4">
                                        <strong>Comment:</strong>
                                        <%= review.comment %>
                                    </p>
                                    <p class="card-text fs-4">
                                        <p class="starability-result" data-rating=<%= review.rating %>>
                                        </p>
                                    </p>
                                </div>
                                <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                    <form method="post"
                                        action="/listings/<%= listdata._id %>/reviews/<%= review._id%>?_method=DELETE"
                                        class="p-2">
                                        <button class="btn btn-primary ">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

    </body>

    