<% layout("./layouts/boilerplate") %>

    <body class="">
        <h2 class="mb-4"><%= listdata.title %></h2>
        <img class="w-50 border border-2 border-secondary rounded mb-2" src="<%= listdata.image %>" alt="">
        <ul class="list-group mb-4">
            <li class="list-group-item fs-5 mb-1"><strong>Description:</strong>
                <%= listdata.description %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Price:</strong> &dollar; <%=
                    listdata.price.toLocaleString("en-US") %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Location:</strong>
                <%= listdata.location %>
            </li>
            <li class="list-group-item fs-5 mb-1"><strong>Country:</strong>
                <%= listdata.country %>
            </li>
        </ul>
        <div class="d-flex justify-content-start mb-4">
            <form method="get" action="/listings/<%= listdata._id %>/edit" class="mr-2">
                <button class="btn btn-primary">Edit</button>
            </form>
            &NonBreakingSpace; &NonBreakingSpace;
            <form method="post" action="/listings/<%= listdata._id %>?_method=delete" class="ml-2">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="container mt-4 mb-4 p-4 border rounded shadow-sm">
            <h4 class="text-center mb-4">Leave a Rating</h4>
            <form action="/listings/<%= listdata._id %>/reviews" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label fw-bold">Rating :</label>
                    <input 
                        type="range" 
                        min="1" 
                        max="5" 
                        name="review[rating]" 
                        id="rating">
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label fw-bold">Comment:</label>
                    <textarea 
                        name="review[comment]" 
                        id="comment" 
                        rows="5" 
                        cols="15" 
                        class="form-control" 
                        placeholder="Write your review here..."
                        required></textarea>
                    <div class="invalid-feedback">Please write some comments</div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        
    </body>